.count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 30px;
}
.btn button{
    font-size: 30px;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(104, 239, 104);
    color: rgb(70, 87, 102);
}